app.localhost {
	@service_worker path /sw.js
	header @service_worker {
		Cache-Control "no-cache, no-store, must-revalidate"
		Content-Security-Policy "default-src 'self'; script-src 'self'"
		Content-Type "application/javascript; charset=utf-8"
		Service-Worker-Allowed "/"
		X-Content-Type-Options "nosniff"
	}

	handle /api/* {
		reverse_proxy api:8080
	}

	handle {
		reverse_proxy customer-app:3000
	}
}

panel.localhost {
	handle /api/* {
		reverse_proxy api:8080
	}

	handle {
		reverse_proxy panel-app:3000
	}
}

api.localhost {
	reverse_proxy api:8080
}
